html, body { 
    overflow: hidden!important; 
}

body {
    //background-image: url('/static/imgs/background.png')!important;
    //background-color: $body-bg!important;
    //background-position: center center;
    //background-size: 100% 100% !important;

    .application {
        //background: $body-bg!important;
    }
}


.launcher {
    &-layout{
        background-color: $primary;
    }
    &-avatar,
    &-header,
    &-webview,
    &-online,
    &-copyrights,
    &-progress-list,
    &-options{
        background-color: transparent!important;
    }
    &-controls-container,
    &-status-container {
        background-color: $primary!important;
    }
    &-center{
        height: 37.4rem;
    }
    &-webivew{
        overflow: auto;
        overflow-y: hidden;
    }
    &-header{
        background-color: $default!important;
    }
    &-downloading-progress,
    &-checking-progress{
        margin: .4rem 0.1rem!important;
    }
    &-options-list{
        height: 6.2rem;
    }
}