
// Body
$body-bg: transparent;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Theme
$primary: #3a3a3a;
$secondary: #8597c3;
$accent: #578dbf;
$error: #d43800;
$warning: #f87b00;
$info: #53abd0;
$success: #aad79b;

// Colors
$blue: #989c9e;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: whitesmoke;
$gray: rgb(190, 190, 190);

$tundora: #4d4d4d;
$gallery: #EDEDED;
$slogan: #4d4d4d;
